[run]
source =
	setuptools
	pkg_resources
	_distutils_hack
omit =
	# leading `*/` for pytest-dev/pytest-cov#456
	*/_vendor/*
	*/_distutils/tests/*
	# generated code, tested in `validate-pyproject`
	*/_validate_pyproject/*

[paths]
source =
	.
	*/site-packages
	# Windows
	*\site-packages

[report]
show_missing = True
