[flake8]
max-line-length = 88

# jaraco/skeleton#34
max-complexity = 10

extend-exclude =
	build
	src/setuptools/_vendor
	src/setuptools/_distutils
	src/pkg_resources/_vendor

extend-ignore =
	# Black creates whitespace before colon
	E203
